[submodule "submodules/qwen-code"]
	path = submodules/qwen-code
	url = https://github.com/GaokaiZhang/qwen-code.git
[submodule "submodules/harbor"]
	path = submodules/harbor
	url = https://github.com/GaokaiZhang/harbor.git
